.top {
  background-color: #f2c94c;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 4px solid black;
  border-radius: 12px;

}

nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.top h3 {
  justify-self: start;
  margin: 0;
}


.headerimg {
  justify-self: center;
  height: 150px; 
  width: auto;
}


.top ul {
  justify-self: end;
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
.about {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: #c7938c;
  border: 4px solid black;
  border-radius: 20px;
  padding: 30px;
flex-direction: row-reverse;

  display: flex;
  justify-content: flex-start;   
  align-items: center;          
  gap: 30px;                     

  width: 80%;
  margin: 40px auto;             
  box-sizing: border-box;
}


.about-text {
  width: 60%;
}

.about-img {
  width: 600px;
  height: auto;
  padding: 10px;
  border-radius:2px;
}


.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  width: 80%;
  margin: 40px auto;
}
.member {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: #912f2f;
  border: 4px solid black;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;

  min-height: 260px;          
  display: flex;              
  justify-content: space-between;
  align-items: flex-start;    
  gap: 20px;                  
}

.member-left {
  display: flex;
  flex-direction: column;
  gap: 8px;                  
  width: 65%;
}

.member-left ul {
  margin: 0;
  padding-left: 20px;         
}

.member-img {
  width: 140px;              
  height: auto;
  padding: 10px;             
  border-radius: 10px;       
  object-fit: cover;          
}

body {
  background-image: url("images/background2.png"); 
  background-size: cover; 
  
   background-repeat: no-repeat; 
    
   background-position: center; 

   
   background-attachment: fixed;

   
}

.show {
  background-color: #ffefc0; 
}

.showdone {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: #9c2b2b;
  border: 4px solid black;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;

  min-height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 20px;
}



.shownew {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: #bac275;
  border: 4px solid black;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;

  min-height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;   
  gap: 20px;
}



.show-left {
  width: 55%;
}


.show-left ul {
  margin: 0;
  padding-left: 20px;         
}

.show-img {
  width: 300px;   
  height: auto;
  padding: 10px;
  border-radius: 10px;
  object-fit: cover;
}
.shownew,
.showdone {
  margin: 30px auto;   
  width: 90%;          
}
.insta-box {
  display: inline-block;
  background-color: #ff0000;   
  color: white;
  padding: 15px 25px;
  border-radius: 20px;         
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;


  margin: 40px auto;
  text-align: center;
  display: block;
  width: fit-content;


  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.insta-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.insta-box-members {
  display: inline-block;
  background-color: #000000;   
  color: white;
  padding: 15px 25px;
  border-radius: 20px;         
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;


  text-align: left;
  display: block;
  width: fit-content;


  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.insta-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
